/* <div class="icons">
<i class="fa-solid fa-bars"></i>
<i class="material-icons">&#xe2c8;</i>
<i style="font-size:24px" class="fa">&#xf0c9;</i>
<span class="glyphicon">&#xe158;</span>
<i class="fa-sharp fa-solid fa-clock-rotate-left"></i>
<i class="fa-solid fa-chart-pie-rotate-right-simple"></i>
<i class="material-icons">&#xe1ac;</i>
</div>
 */

:root {
  /* fonts */
  --ff-poppins: "Poppins", sans-serif;

  /*wight*/
  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-larg: 800;
  --fw-black: 900;
  /*size*/
  --fs-200: 0.75rem; /*for sidebar**12px*/
  --fs-300: 0.87rem; /*for sidebar**14px*/
  --fs-400: 1rem; /*for search container**16px*/
  --fs-500: 1.125rem; /*for sidebar**18px*/
  --fs-550: 1.75rem; /*28px**28px*/
  --fs-600: 1.83rem; /*for dashbord**29px*/
  --fs-700: 2.25rem; /*for logo**36px*/
  --fs-800: 2.75rem; /*num in the 3 col**44px*/
  --fs-900: 2.8125rem; /*for hero section **45*/
  --fs-1000: 3.375rem; /*for hero  **54px*/

  /* colors */
  --white: #fff;
  --snow: #f9f9f9;
  --white-smoke: #efefef;
  --smoke: #f1f1f1;
  --pinky: #fff3f0;
  --nobel: #9a9a9a;
  --gray: #757575;
  --dark-gray: #8f8f8f;
  --black: #000000;
  --moon-yellow: #fabb18;
  --nero: #232323;
  --gray-200: #dedede;
  --gray-300: #dfdfdf;
}
html {
  font-family: var(--ff-poppins);
  color: var(--black);
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--snow);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}
.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-end: 5rem;
}

h1 {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-larg);
  font-size: var(--fs-700);
  line-height: 3.375rem;
  padding: 0;
  margin-bottom: 2rem;
}
h1 span {
  color: var(--moon-yellow);
}
.row-container {
  display: flex;
  flex-direction: column;
  column-gap: 5rem;
}

.tasky-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-content: center;
  justify-content: center;
  background-color: var(--white);
  padding-block: 20px;
  margin: 0;
}
.dashbord__list ul {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  list-style-type: none;
}
.dashbord__list ul a {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  color: var(--nero);
  font-family: var(--fw-medium);
  font-size: var(--fs-500);
  line-height: 1.687rem;
  text-decoration: none;
  color: var(--black);
  font-family: var(--ff-poppins);
}

.active {
  background-color: var(--black);
  border-radius: 1rem;
  padding: 1rem 0.4rem;
}
.active a {
  color: var(--white);
}
.dashbord__list ul a:hover,
.dashbord__list ul a:focus {
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 1rem 0.4rem;
}
.side-menu {
  background-color: var(--white);
  max-width: 15rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  column-gap: 10rem;
  align-content: center;
  grid-area: sidebar;
  height: 100%;
  margin: 0;
  height: 111.25rem;
  border-radius: 0.125rem;
}

.workspace__title {
  font-weight: var(--fw-normal);
  font-family: var(--ff-poppins);
  color: var(--dark-gray);
  font-size: (var(--fs-200));
  line-height: 1.125rem;
  padding: 1rem;
}
select,
select > option {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-400);
  line-height: 1.5;
  text-align: center;
}
select {
  border: none;
  background-color: var(--white);
}
.workspace {
  border: 2px solid var(--gray-200);
  margin-block: 12rem;
}
.workspace__dropdown {
  padding: 1rem;
  min-width: 12rem;
}
.last-card .card-second-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile > text {
  display: block;
}

.dashbord a {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-medium);
  font-size: var(--fs-550);
  line-height: 2.5rem;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  text-align: center;
  padding: 0px;
}
.dashbord h4 {
  margin: 12px;
  text-align: center;
}
.fa {
  text-align: center;
  margin: 20px;
}
.profile {
  display: flex;
  gap: 10px;
}
.main {
  grid-area: main;
  margin: 0;
  padding: 1rem;
  border-radius: 2.375rem 0rem 0rem 2.375rem;
}
.today {
  margin-top: 2rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.first-row {
  display: flex;
  gap: 15rem;
  margin-top: 20px;
}
.card__image {
  background-color: var(--pinky);
  border-radius: 1.375rem;
  padding: 1rem;
  height: 100px;
}
.card__title,
.card__dot {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-medium);
  font-size: var(--fs-550);
  line-height: 2.6rem;
  text-align: center;
}
.card__complete {
  font-family: var(--ff-poppins);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-600);
  line-height: 4.125rem;
}
.card__image img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.second-row {
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
}
.second-row > * {
  flex: 1;
}
.card__title,
.card__complete {
  display: flex;
  justify-content: space-between;
}
.card {
  background-color: var(--white);
  border-radius: 2.125rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span2;
}

.img-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.img-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
img{
    display: block;
    max-width: 100%;
}
.start {
  margin-top: 2rem;
  background-color: var(--white);
  border-radius: 2.125rem;
  display: flex;
  justify-content: space-between;
}
.start__text {
  font-family: var(--ff-poppins);
  font-size: var(--fs-550);
  font-weight: var(--fw-medium);
  line-height: 2.625rem;
  text-align: center;
  align-self: center;
  padding-left: 1rem;
}
.start__icon {
  text-align: center;
  align-self: center;
  padding-right: 1rem;
}
.today__text {
  font-family: var(--ff-poppins);
  font-size: var(--fs-1000);
  font-weight: var(--fw-semibold);
  line-height: 5.06rem;
  text-align: left;
}
.today__date {
  font-family: var(--ff-poppins);
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  line-height: 2.625rem;
  text-align: left;
}
.fa-play {
  width: 6rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #fabb18;
  text-align: center;
}
nav {
  grid-area: header;
  height: 120px;
  width: 97%;
}
.logo-section,
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-name {
  font-family: var(--ff-poppins);
  font-size: 1rem;
  font-weight: var(--fw-semibold);
  line-height: 1.5rem;
}

.prof {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}
.profile-row .prof img {
  background-color: none;
}
.card-third-row .user {
  display: flex;
  flex-direction: column;
}
.profile-picture .prof {
  display: flex;
  flex-direction: row;
}
.prof .user {
  font-family: var(--ff-poppins);
  font-size: var(--fs-400);
  font-weight: var(--fw-semibold);
  line-height: 1.5rem;
  margin: auto;
}
.profile-picture {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--smoke);
  padding: 1rem;
  border-radius: 0.875rem;
}
.first-card,
.second-card,
.last-card {
  max-width:33rem;
  border-radius: 2.5rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.first-card .project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-first-row {
  font-family: var(--ff-poppins);
  font-size: var(--fs-400);
  font-weight: var(--fw-semibold);
  line-height: 1.5rem;
  text-align: left;
}
.user-second-row {
  font-family: var(--ff-poppins);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  line-height: 1.3rem;
  text-align: left;
}
.user-third-row {
  font-family: var(--ff-poppins);
  font-size: var(--fs-200);
  font-weight: var(--fw-extralight);
  line-height: 1.125rem;
  text-align: right;
}
.first-card .prof img {
  background-color: var(--white);
}
.prof img {
  background-color: var(--pinky);
  border-radius: 0.52rem;
  align-content: center;
  display: block;
  margin: auto;
  min-width: 2rem;
  min-height: 2rem;
}
progress {
  width: 8rem;
  height: 0.1875rem;
  border-radius: 0.6rem;
  border: none;
  display: block;
  margin: auto;
  background: var(--moon-yellow);
}

progress {
  color: var(--gray-300);
}
progress::-moz-progress-bar {
  background: var(--gray-300);
}

progress::-webkit-progress-value {
  background: var(--moon-yellow);
}

progress::-webkit-progress-bar {
  background: var(--gray-300);
}
.two-card-container {
  display: flex;
  gap: 1rem;
}
.two-card-container >*{
    flex: 1;
}

.job-title {
  font-family: var(--ff-poppins);
  font-size: 0.75rem;
  font-weight: var(--fw-normal);
  line-height: 1.125rem;
  color: var(--dark-gray);
  text-align: right;
}

button {
  border: none;
  background-color: var(--white);
}
.search-bar input[type="text"] {
  border: none;
  min-width: 31.8rem;
  border-radius: 1.125rem;
  min-height: 3.625rem;
  background-color: var(--white-smoke);
  padding-inline-start: 1.8rem;
  padding-inline-end: 1.8rem;
}
.card-first-row > .card__title {
  font-family: var(--ff-poppins);
  font-size: var(--fs-550);
  font-weight: var(--fw-medium);
  line-height: 2.625;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.fa-search {
  margin-left: -40px;
  color: var(--black);
}
.search-bar::placeholder {
  font-weight: var(--fw-normal);
  font-size: var(--fs-400);
  color: var(--gray);
  line-height: 1.5rem;
}

.projectbtn,
.veiw-button {
  background-color: var(--black);
  width: fit-content;
  padding: 1rem;
  border-radius: 0.6rem;
  align-self: end;
}
.pinky {
  background-color: var(--pinky);
  width: fit-content;
  padding: 1rem;
  border-radius: 0.6rem;
  font-size: var(--fs-300);
  font-weight: var((--fw-medium));
  line-height: 1.3rem;
  text-align: center;
  font-family: var(--ff-poppins);
  color: black;
  justify-content: center;
  height: 41px;
  display: block;
  margin: auto;
}
.div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.projectbtn a,
.veiw-button a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--fs-300);
  font-weight: var((--fw-medium));
  line-height: 1.3rem;
  text-align: center;
  font-family: var(--ff-poppins);
}
.veiw-button {
  background-color: var(--pinky);
}
.veiw-button a {
  color: black;
  background-color: var(--pinky);
}
.word {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.word,
.second-word {
  font-family: var(--ff-poppins);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  line-height: 1.5rem;
  text-align: right;
  color: var(--nobel);
}

.second-word {
  padding-right: 4rem;
}
/* /////////////////////////////////////////large-screen///////////////////////////////////////////////////////////// */
@media (width > 1000px) {
  .wrapper {
    display: grid;
    grid-auto-rows: 80px;
    grid-template-areas:
      " sidebar header header header"
      "sidebar main main main"
      "sidebar main main main"
      "sidebar main main main";
    gap: 0rem;
  }
  .prof {
    flex-direction: column;
  }

  .closebtn {
    visibility: hidden;
  }
}
/* ///////////////////////////////////////mobile-view///////////////////////////////////////////////////////////// */
@media (width <= 1000px) {
  nav {
    display: none;
    visibility: hidden;
  }
  nav .tasky-nav {
    width: min-content;
  }
  .tasky-nav .dashbord {
    display: flex;
    visibility: visible;
    margin-right: auto;
  }
  .tasky-nav .search-bar {
    display: none;
    visibility: hidden;
  }
  .tasky-nav .profile {
    display: none;
    visibility: hidden;
  }
  .second-row {
    flex-direction: column;
  }
  .first-row {
    flex-direction: column;
    gap: 1rem;
  }

  .first-card,
  .second-card,
  .last-card {
   max-width:500px;
  }
  .start {
    flex-direction: column;
    gap: 1rem;
    max-width:500px;
  }
  #main {
    transition: 0.5s;
    padding: 20px;
  }
  .side-menu {
    background-color: var(--white);
    max-width:15rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    column-gap: 10rem;
    align-content: center;
    grid-area: sidebar;
    height: 100%;
    margin: 0;
    height: 111.25rem;
    border-radius: 0.125rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.7s;
  }

  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #8f8f8f;
    text-decoration: none;
    visibility: visible;
  }
  .card {
    max-width:500px;
  }
  .two-card-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .img-row {
    flex-direction: row;
  }
  .img-row img {
    width: 120px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
   .prof {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
}
